extends partials/layout

block content
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      a.navbar-brand(href="/")|YelpCamp
      button.navbar-toggler(
        type='button'
        data-toggle='collapse'
        data-target='#mainToggle'
        aria-controls='mainToggle'
        aria-expanded='false'
        aria-label='Toggle Navigation'
      )
        span.navbar-toggler-icon
      
      .collapse.navbar-collapse#mainToggle
        ul.navbar-nav.ml-auto.mt-2.mt-lg-0
          li.nav-item
            a.nav-link(href="/") Login
          li.nav-item
            a.nav-link(href="/") Sign Up
          li.nav-item
            a.nav-link(href="/") Log Out

  .container
    .jumbotron
      .container
        h1 Welcome to YelpCamp
        p View our handpicked campgrounds from all over the planet
        p
          a.btn.btn-primary.btn-lg(href="/campgrounds/new") Add a new camping ground
    
    .row.d-flex.flex-wrap.text-center
      each campground in campgrounds
        .col-md-3.col-sm-6.mb-2
          .card
            img(src=campground.image, class="card-img-top img-thumbnail" alt="Missing Image")
            .card-body
              h5.card-subtitle=campground.name