
extends ../partials/layout

block content
  .container
    .row
    h1.text-center.mt-2 Edit #{campground.name}
    div.mx-auto.mt-2.w-50.p-3
      form(action="/campgrounds/#{campground._id}/edit?_method=PUT", method="POST")
        .form-group
          input.form-control(type="text", name="name", value=`${campground.name}`)
        .form-group
          input.form-control(type="text", name="image", value=`${campground.image}`)
        .form-group
          input.form-control(type="text", name="description", value=`${campground.description}`)
        .form-group
          button.btn.btn-primary.btn-lg.btn-block Submit!

        a(href="/campgrounds") Go Back