extends ../partials/layout

block content
  .container
    .row
      .col-md-3
        p.lead YelpCamp
        .list-group
          li.list-group-item.active|Info 1
          li.list-group-item|Info 2
          li.list-group-item|Info 3
      .col-md-9
        .card
          img(class="img-fluid img-thumbnail" src=campground.image, alt="Cannot find image")
          
  h1 #{campground.name}


  p #{campground.description}

  p
    a(class="btn btn-success" ,href="/campgrounds/" + campground._id + "/comments/new")| Add new comment
  each comment in campground.comments
    p #[strong #{comment.author}] - #{comment.text}
  a(href="/campgrounds") Go Back
