extends ../partials/layout

block content
  h1 #{campground.name}

  img(src=campground.image, alt="Cannot find image")

  p #{campground.description}

  each comment in campground.comments
    p #[strong #{comment.author}] - #{comment.text}
  a(href="/campgrounds") Go Back
