extends ../partials/layout

block content
  .container
    .row
      .col-md-3
        p.lead YelpCamp
        .list-group
          li.list-group-item.active|Info 1
          li.list-group-item|Info 2
          li.list-group-item|Info 3
      .col-md-9
        .card
          img(class="img-fluid card-img-top" src=campground.image, alt="Cannot find image")
          .card-body
            h4.card-title #[a(href="") #{campground.name}] #[span.float-right $9.00/night]
            p #{campground.description}
          .card-footer
            .text-right
              a(class="btn btn-success" ,href="/campgrounds/" + campground._id + "/comments/new")| Add new comment
              hr

            each comment in campground.comments
              .row
                .col-md-12
                  p #[strong #{comment.author}] #[span.float-right 10 days ago]
                  p #{comment.text}
                  
            a(href="/campgrounds") Go Back
